.error {
  color: red;
}
.loginFullPage {
  background: url("../../../../backend/uploads/cash-ZNHrEaphiEc-unsplash.jpg");
  background-size: cover;
  height: 90vh;
}

/* .conatainer-0 {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.loginButton {
  margin-bottom: 1rem;
}
.emailLabel {
  margin-top: 1rem;
}
