@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
#root {
  display: flex;
  flex-direction: column;
}
.spotsPageBackground {
  background: url("../../../../backend/uploads/berenice-melis-cNKnDxNZ35I-unsplash.jpg");
  background-size: contain;
}
.postContainer {
  display: flex;
  border-radius: 7px;
  width: 90%;
  height: 10vh;
  margin: auto;
  justify-content: center;
  margin-bottom: 2em;
}

textarea {
  height: 7em;
}

.postButton {
  color: white;
  border: none;
  outline: none;
  background: none;
}

.postlist {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  width: 95%;
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.reviewsList {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  width: 95%;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.allPostList {
  display: flex;
  width: 100vw;
  flex-direction: column;
  border-radius: 7px;
  background: white;
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.postlistHead {
  display: flex;
  border: 1px black solid;
  flex-direction: row;
  border-radius: 7px;
  width: 95%;
  height: auto;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.singleSpot {
  color: white;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  margin-top: 1em;
  flex-direction: column;
  align-items: flex-start;
  font-size: larger;
  background: black;
}
.singleSpotName {
  font-size: x-large;
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  margin-left: 1rem;
}
.parkAttributes {
  width: 100%;
  text-align: center;
}
.attributes {
  width: 50%;
}

.closeButton {
  background: red;
  margin-top: 5px;
  margin-right: 5px;
}
.spotSkateStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameAndLike {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.attributesAndAddress {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.parksHeader {
  width: 100%;
  text-align: center;
  color: #f708a0;
  border: 1px solid black;
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 100;
  background: black;
  margin-top: 0;
  font-size: 2rem;
  padding: 0.5rem;
}

.postbody {
  width: 100%;
}
.allpostbody {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.my-post-button {
  background-color: #212529;
  border: 2px solid white;
  box-shadow: 0px 0px 12px black;
  color: #c4c8d8;
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
  margin-bottom: 1.5rem;
  margin: top 1.5rem;
  border-radius: 10px;
}
.delete-post-button {
  background-color: #d61e17;
  box-shadow: 0px 0px 12px black;
  border: 3px double black;
  color: #c4c8d8;
  font-size: 1rem;
  font-family: inherit;
  width: 90%;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
}
.delete-body {
  text-align: center;
  width: 100%;
}

.my-review-button {
  border: 1px single black;
  box-shadow: 0px 0px 12px black;
  color: #c4c8d8;
  /* font-size: 1rem; */
  /* font-family: inherit; */
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  /* background: #94cbf0; */
  cursor: pointer;
}
.all-posts-button {
  background-color: #0d6efd08;
  border: none;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #4b6cd5d6;
  width: 90vw;
  border-radius: 15px;
  margin: 1rem;
}

.my-post-button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
  border-radius: 12px;
}

.likeButton {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: red;
  background-color: #424c68;
  border: none;
  border-radius: 15px;
  margin: 10px 10px;
}
.dislikeButton {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: red;
  background-color: #424c68;
  border: none;
  border-radius: 15px;
  margin: 10px 10px;
}
.likeButtonActive {
  color: #f50404;
  display: inline-block;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  margin: 10px 10px;
}
.dislikeButtonActive {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: red;
  border: none;
  border-radius: 15px;
  margin: 10px 10px;
}

.reviews {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: black;
  color: white;
  width: 50%;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 15px;
  padding-bottom: 1rem;
}

.name-container {
  margin-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: larger;
}
.name-container-reviews {
  margin-bottom: 0.5em;
  text-align: left;
  text-transform: uppercase;
  font-size: larger;
  color: black;
}
.spotName-container-reviews {
  margin-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: larger;
  color: black;
}
.spotinfo-container-reviews {
  margin-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: x-small;
  color: black;
}
.name-container-posts {
  margin-bottom: 0.5em;
  text-align: left;
  text-transform: uppercase;
  padding-left: 1rem;
  color: black;
}
.singleSpotSkateStatus {
  border: 2px solid white;
  padding: 10px;
  margin: 2rem 3rem;
  border-radius: 12px;
  background: black;
  color: white;
}
.setStatusButtons {
  text-align: center;
}
.addressButton {
  border: none;
  color: blue;
}
.body-container {
  text-align: left;
  width: 50%;
  border-right: 1px solid white;
  margin-left: 0.5rem;
}
.spotInfoHeader {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}
.body-container-reviews {
  text-align: center;
  width: 100%;
  color: black;
  font-size: large;
  padding: 0.5rem;
}
.body-container {
  text-align: left;
  width: 50%;
  border-right: 1px solid white;
}
.postBody-container {
  text-align: center;
  padding-bottom: 2.5rem;
  color: black;
}
.singleSpotFull {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: url("../../../../backend/uploads/max-van-den-oetelaar-uymG7UVPXpI-unsplash.jpg");
  background-size: contain;
}

.post {
  color: black !important;
  text-transform: uppercase !important;
  font-size: 0.75rem;
  margin-bottom: 0;
  padding-left: 0;
  color: white;
  text-align: left;
}

.delete-post {
  display: flex;
  border: 1px solid black;
  border-radius: 12px;
  margin-top: 2em;
  flex-direction: column-reverse;
  align-items: flex-end;
  background: white;
  color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
}
.activeOn {
  background-color: #39cc2c;
  color: white;
  display: inline-block;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  margin: 20px 20px;
}

.activeOff {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3b4255;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin: 20px 20px;
}

.inactiveOff {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #424c68;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin: 20px 20px;
}

.inactiveOn {
  background-color: #e22d15;
  color: white;
  display: inline-block;
  padding: 2px 5px 5px 5px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  margin: 20px 20px;
}
.singleSpotAddress {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.myReviewsPage {
  background: url("../../../../backend/uploads/paolo-nicolello-9CoL-pdhPWM-unsplash\ \(1\).jpg");
  background-size: contain;
  min-height: 90vh;
}
.singlePostFullPage {
  height: 100vh;
}
.delete-post-fullPage {
  height: 100vh;
}
.homePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../../../backend/uploads/marc-newberry-xKnUnPEUiWA-unsplash.jpg");
}
.home-page-park {
  align-items: center;
  margin: 1rem;
}
.home-page-friends {
  align-items: center;
  margin: 1rem;
}
.HP-button {
  color: white;
  width: 20rem;
  background: black;
  border-radius: 25px;
  margin-bottom: 4rem;
  border: 1px solid white;
  box-shadow: 0px 0px 12px black;
}
.HP-ul {
  margin-top: 1rem;
  padding: 0;
}
.HP-Header {
  width: 100%;
  text-align: center;
  color: #f708a0;
  border: 1px solid black;
  margin: 0;
  font-weight: 100;
  background: black;
  margin-top: 0;
  font-size: 2rem;
  padding: 0.5rem;
}
.closeRegister {
  align-self: flex-end;
}
