.postContainer {
  display: flex;
  border-radius: 7px;
  width: 90%;
  height: 10vh;
  margin: auto;
  justify-content: center;
  margin-bottom: 2em;
}

textarea {
  height: 7em;
}

.postButton {
  margin-left: 2em;
  border: none;
  outline: none;
  background: none;
}

.postlist {
  display: flex;

  flex-direction: column;
  border-radius: 7px;
  width: 95%;
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.postlistHead {
  display: flex;
  border: 1px black solid;
  flex-direction: row;
  border-radius: 7px;
  width: 95%;
  height: auto;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.postListFriends {
  display: flex;
  border: 1px black solid;
  flex-direction: row;
  border-radius: 7px;
  width: 95%;
  height: auto;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.singleSpot {
  display: flex;
  justify-content: center;
  /* border: 1px solid rgb(247, 9, 160); */
  /* border-radius: 12px; */
  /* margin-top: 2em; */
  /* padding: 1.5rem;
  margin: auto; */
  flex-direction: column;
  align-items: flex-end;
}

.closeButton {
  position: absolute;
  left: 95%;
}
.spotSkateStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameAndLike {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postbody {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: flex-start;
  flex-direction: row;
  width: inherit;
}

.my-post-button {
  background-color: transparent;
  border: none;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: fit-content;
}

.my-post-button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
  border-radius: 12px;
}

.likeButton {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: red;
  background-color: #424c68;
  border: none;
  border-radius: 15px;
  margin: 10px 10px;
}
.dislikeButton {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: red;
  background-color: #424c68;
  border: none;
  border-radius: 15px;
  margin: 10px 10px;
}
.likeButtonActive {
  color: #f50404;
  /* box-shadow: 0 5px #666; */
  display: inline-block;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  margin: 10px 10px;
}
.dislikeButtonActive {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: red;
  /* background-color: #424c68; */
  border: none;
  border-radius: 15px;
  margin: 10px 10px;
}
.friendStatus {
  display: flex;
  align-items: stretch;
}

.name-container {
  margin-bottom: 0.5em;
  text-align: left;
  text-transform: uppercase;
}
.singleSpotSkateStatus {
  border: 1px solid rgb(247, 9, 160);
  padding: 10px;
  margin: 2rem 3rem;
  border-radius: 12px;
}
.setStatusButtons {
}
.body-container {
  text-align: left;
  /* margin: 0; */
}
.singleSpotFull {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.post {
  color: black !important;
  text-transform: uppercase !important;
  text-align: left;
  font-size: 0.75rem;
  margin-bottom: 0;
  padding-left: 0;
}

.delete-post {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 12px;
  margin-top: 2em;

  padding: 2em;
  margin: auto;
}
.activeOn {
  background-color: #39cc2c;
  color: white;
  box-shadow: 0 9px #666;
  transform: translateY(4px);
  display: inline-block;
  padding: 2px 2px 2px 2px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  margin: 20px 20px;
}

.activeOff {
  display: inline-block;
  padding: 2px 2px 2px 2px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3b4255;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin: 20px 20px;
}

.inactiveOff {
  display: inline-block;
  padding: 5px 5px 2px 5px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #424c68;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin: 20px 20px;
}

.inactiveOn {
  background-color: #e22d15;
  color: white;
  box-shadow: 0 9px #666;
  transform: translateY(4px);
  display: inline-block;
  padding: 5px 5px 2px 5px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  margin: 20px 20px;
}

#friendSkateButton {
  cursor: default;
}
