li {
  font-size: 1.25rem;
  list-style: none;
}

.navBar {
  display: flex;
  background: rgb(0, 0, 0);
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  flex-direction: column;
  align-items: center;
}

.navBar ul {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}

.navBar button {
  background: black;
  border: none;
  color: white;
  padding: 0.4rem 0.5rem;
  padding: 0px 20px;
  border-radius: 12px;
}

.navBar button:hover {
  background: #f709a0;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 12px;
}

.navBar button:focus {
  background: #f709a0;
  color: rgb(255, 255, 255);
  border-radius: 12px;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
