.friendList {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  width: 95%;
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.friendListHead {
  display: flex;
  border: 1px black solid;
  flex-direction: row;
  border-radius: 7px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: black;
  margin-top: 2rem;
  color: white;
}
.friendBody {
  width: 90%;
  background: black;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.my-friend-button {
  background-color: black;
  border: 3px double black;
  color: #c4c8d8;
  font-size: 1rem;
  font-family: inherit;
}


.my-friend-button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
  border-radius: 12px;
}

.friendsFullPage {
  background: url("../../../../backend/uploads/camila-waz-EN1ovuYpOZQ-unsplash.jpg");
  background-size: cover;
  min-height: 100vh;
}

.friendCheckIn {
  color: white;
}
.friendStatus {
  display: flex;
  align-items: stretch;
}
#friendSkateButton {
  cursor: default;
}
.postListFriends {
  display: flex;
  border: 1px black solid;
  flex-direction: row;
  border-radius: 7px;
  width: 95%;
  height: auto;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.friendMapList {
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 350px;
  overflow-y: scroll;
}
.friendButtons {
  display: flex;
  height: 25px;
  justify-content: space-between;
}
.allReviewsList {
  display: flex;
  width: 100vw;
  flex-direction: column;
  border-radius: 7px;
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.allReviewsBody {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.all-reviews-button {
  background-color: white;
  border: none;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #4b6cd5d6;
  width: 90vw;
  border-radius: 15px;
  margin: 1rem;
}
.nameAndButton {
  display: flex;
  flex-direction: row-reverse;
  height: 25px;
  justify-content: space-between;
}
.addFriendButtonLink {
  width: 100%;
  background: black;
}
.titles {
  color: white;
  margin: 0;
}
