@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.fullPage {
  display: flex;
  flex-direction: column;
}

.container-0 {
  margin: 0 auto;
  max-width: 250px;
  overflow: auto;
  text-align: center;
}

.form {
  border-radius: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 14rem;
  /* background: #e1abcd; */
  background: #94cbf0;
  
}

.form input {
  display: block;
  height: 25px;
  padding: 3px 7px;
  font-size: 17px;
}

.button-align {
  align-items: center;
}
.btn-primary {
  margin-top: 5px;
  margin-bottom: 20px;
}

.likeAndDislike {
  display: flex;
}
